@page "/welcome"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h3 class="text-3xl">Bonjour Connected user name</h3>
    </Authorized>
</AuthorizeView>


@code {
}
