@inject IJSRuntime JsRuntime

<div class="alert">
    <div class="alert-header">
        <span class="title">@Title</span>
    </div>
    <div class="alert-body">
       @Message
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    
    [Parameter] public string Message { get; set; } = string.Empty;

    [Parameter] public bool IsSuccess { get; set; }
}