<div class="alert-success">
    <h3>Inscription réussie ! </h3>
    <p>Félicitations !</p>
    <p>Votre inscription a bien été prise en compte.</p>
    <p>Bienvenue dans notre application, nous sommes ravis de vous compter parmi nous !</p>

    <a href="/auth/login" class="login-link">Se connecter</a>
</div>

@code {
    
}