@page "/mybooks"

@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer

@attribute [Authorize]

<section class="w-full">
  <h2>Vos Livres </h2>
  @* Books List goes here *@
</section>



@code {

}