.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
    .menu_element {
        display: flex;
        font-weight: bolder;
        font-size: 1.25rem;
        transition: transform 0.3s ease;
       
        &:hover {
            color: #17B169;
            transform: scale(1.1);
        }
        
        img {
            margin-right: .2rem;
        }
    }
    
    @media (max-width: 1170px) {
        display: none;
    }
}


@media (max-width: 520px) {
    .authentication_buttons {
        display: none;
    }
}